/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}


/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/* =============================================================================
  #CSS VARIABLES
============================================================================= */
:root {
  --background-color: #0D0F13;

  --primary-color: #D11B67;
  --primary-color-dark: #AD1655;

  --secondary-color: #33B1E7;

  --accent-color: #3F1A55;

  --success: #4CB669;
  --error: #DF4343;
  --white: #FFF;
  --grey: #191C22;
  --dark-grey: #D3D2D4;
  --dark-grey-text: #A5A4A6;

  --text-color: #FFF;

  --default-padding: 24px;

  --default-font: 'Verdana', sans-serif;

  --nav-height: 75px;

  --mobile-font-size: 14px;
  --mobile-font-size-rem: 1.4rem;
}

/* =============================================================================
  #GENERAL
============================================================================= */
* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    position: relative;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    font-family: var(--default-font);
    font-size: 1.2rem;
    color: var(--text-color);
    /* line-height: 1.6; */
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    padding: 5rem;

    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 75rem;
    margin: 0 auto;
}

/* =============================================================================
  #UTILITIES
============================================================================= */
hr {
  margin: 20px 0;

  height: 4px;

  background-color: #21242C;
  border: none;
  border-radius: 5px;
}
/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  line-height: 1.1;

  font-weight: 800;
  color: var(--text-color);
}

p + p {
  margin-top: 12px;
}

h2 {
  font-size: 20px;
  font-size: 2.0rem;
  text-transform: uppercase;
  margin-bottom: 18px;
}

/* .video-container {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 56.25%;
  height: 0;
  padding-bottom: 56.25%;

  background-color: pink;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

main {
    width: 100%;
    height: 100%;
}

.video-container {
  position: relative;

  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

  .video-container .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cc {
    position: absolute;
    /* background-color: pink; */
    left: 0;
    right: 0;
    bottom: 2rem;

    text-align: center;

    /* height: 30px; */

    pointer-events: none;
    z-index: 1000;
  }

    .cc .cc__item {
      position: absolute;
      left: 50%;
      bottom: 0;

      transform: translateX(-50%);

      display: inline-block;
      color: #FFF;

      opacity: 0;
      transition: .05s;

      /* max-width: 80%; */

      width: 40%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .cc__item p {
      width: max-content;
      padding: .3rem .5rem;

      border-radius: .15rem;
      background-color: rgba(0, 0, 0, .5);

      display: none;
      opacity: 0;
      transition: .05s;
    }

    .cc__item.on .shouting {
      transform: scale(1);
      animation: slam .3s ease-in-out;
    }

    @keyframes slam {
      0% {
        transform: scale(3);
      }

      60% {
        transform: scale(0.7);
      }

      80% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }

    .cc__item.on,
    .cc__item.on p.on {
      opacity: 1;
    }

    .cc__item p.on {
      display: inline-block;
    }

    .cc__item.on + .cc__item.on {
      margin-top: .75rem;
    }

    .cc__item.off,
    .cc__item p.off {
      transition: .05s;
      opacity: 0!important;
    }

     p.off {
        display: none;
    }

    .cc__speaker {
      font-size: 1rem;
      display: flex;
      font-weight: 700;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
    }

    .uppercase .cc__text,
    .audio .cc__text,
    .cc__extra {
      text-transform: uppercase;
    }

    .ytp-expand-pause-overlay .ytp-pause-overlay {
      display: none!important;
    }

    .small {
      font-size: .9rem;
    }

    .small .cc__speaker {
      font-size: .8rem;
    }
